@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Monstrous Movies</h1>
    <p>Learn about View actors, movies, and movies with actors!</p>
</div>
